@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lapis-perfil-ft,
.lapis-banner{
    opacity: 0;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-justify: center;
    height: 5em;
    width: 100%;
    background-color: #1E1E1E;
}

.logo{
    margin-left: 1em;
}

.logo > img{
    padding-top: 2px;
    width: 60px;
}

.titulo{
    color: aliceblue;
    font-family: "Poppins",sans-serif;
    font-size: 23pt;
    transition: all 600ms ease-out;
}

.titulo:hover{
    color: red;
}

.perfil-nav{
    border-radius: 50%;
    margin-right: 1em;
}

.perfil-nav > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

body{
    background-color: #343434;
}

.edit-banner{
    position: relative;
}

.edit-banner > img{
    width: 100%;
    height: 250px;
	object-fit: cover;
    object-position: center;
}

.edit-perfil-foto{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16em;
    bottom: 0;
    left: calc(4em - 5px);
    height: 0;
}

.edit-perfil-foto > img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.20);
    transition: all 400ms ease-out;
    object-fit: cover;
}

.lapis-perfil-ft,
.lapis-banner{
    fill: white;
    position: absolute;
    top: 15em;
    left: 15em;
    height: 48px;
    width: 48px;
}

.edit-perfil-foto:hover > img{
    box-shadow: 0px 7px 10px 5px rgba(255, 255, 255, 0.20);
    border-radius: 30%;
    filter: grayscale(0.4);
    opacity: 0.9;
    
}

.edit-perfil-foto:hover > svg{
    opacity: 1;
    transition: all 400ms ease-out;
}

.separador{
    position: absolute;
    height: 1px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    top: calc(36em - 20px);
    left: calc(4em - 20px);
}

.perfil-nome{
    width: 20%;
    text-align: center;
    font-family: sans-serif;
    font-size: 23pt;
    position: absolute;
    color: white;
    top: 36rem;
    left: calc(4rem - 10px);
}

/* -*-*- Texto da bio -*-*-* */
.bio-block{
    position: absolute;
    padding: 3rem;
    left: 25rem;
    width: 60%;
}

.bio-text{
    font-family: "Poppins",sans-serif;
    font-size: 16pt;
    color: white;
    font-weight: 300;
}

/* -*-*- Popup da tag dialog -*-*-* */
#popup-perfil-foto::backdrop{
    background:rgba(0, 0, 0, 0.30)
}

#popup-perfil-foto,
#popup-perfil-Banner{
    font-family: "Poppins",sans-serif;
    background: #1E1E1E;
    color: white;
    margin: auto;
    max-width: 50ch;
    padding: 1em;
    border: none;
    border-radius: .5rem;
    -webkit-box-shadow: 1px 3px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 40px 0px rgba(0,0,0,0.75);
    transition: all 400ms ease-out;
}
/* Animando o dialog */
dialog[open] {
    animation: show 1s ease normal;
}
dialog[close]{
    animation: hide 1s ease normal;
}

@keyframes show{
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes hide{
    10%{opacity: 1}
    20%{opacity: 0.9}
    30%{opacity: 0.7}
    40%{opacity: 0.6}
    50%{opacity: 0.5}
    60%{opacity: 0.4}
    70%{opacity: 0.3}
    80%{opacity: 0.2}
    90%{opacity: 0.1}
    100%{opacity: 0}
    to {
        transform: translateY(-110%);
    }
}

#popup-perfil-foto h1,
#popup-perfil-Banner h1{
    align-items: center;
    border-bottom: 1px solid #CCC;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* Colocar um espaço em branco para "Pular linha" */
#popup-perfil-foto small::before,
#popup-perfil-foto small::after,
#popup-perfil-Banner small::before,
#popup-perfil-Banner small::after {
    content: "\A";
    white-space: pre;
}

#popup-perfil-foto small,
#popup-perfil-Banner small{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 1em;
}


/* -*-*- Botão upload -*-*-* */
#perfil-foto-upload,
#perfil-Banner-upload{
    display: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#labelFotoUpload,
#labelBannerUpload{
    margin-left: 43%;
    justify-content: center;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.20);
    border-color: rgba(255 255 255 / .1);
    border-radius: .5rem;
    outline: none;
    padding: 7px;
    color: white;
    cursor: pointer;
    transition: all 400ms ease-out;
} 

#labelFotoUpload:hover,
#labelBannerUpload:hover{
    background-color: rgb(255, 115, 0);
    border-color: rgba(255 255 255 / .2);
}

.btnSpan{
    display: flex;
    justify-content: space-between;
}

/* -*-*- Botão de Ok e cancelar -*-*-* */
.btnDialogOK,
.btnDialogCancel{
    text-align: center;
    width: 5em;
    height: 3em;
    background-color:  rgba(0, 0, 0, 0.20);
    border-color: rgba(255 255 255 / .1);
    border-radius: .3rem;
    outline: none;
    padding: 4px;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 400ms ease-out;
    
}

.btnDialogOK:hover,
.btnDialogCancel:hover{
    background-color: rgb(255, 115, 0);
    border-color: rgba(255 255 255 / .2);
}

/* -*-*- Preview da foto antes de enviar -*-*-* */
.divFotoPreview,
.divBannerPreview{
    display: none;
    font-weight: bold;
    padding: 1rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.fotoUploadPreview{
    margin-top: 1rem;
    align-self: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.20);
    transition: all 400ms ease-out;
    object-fit: cover;
}

.divBannerPreview{
    scale: .9;
}

.BannerUploadPreview{
    margin-top: 1rem;
    align-self: center;
    width: 520px;
    height: 60px;
    border-radius: 0%;
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.20);
    transition: all 400ms ease-out;
    object-fit: cover;
}

.edit-banner > img{
    transition: all 400ms ease-out;
}

.edit-banner:hover > img{
    filter: grayscale(0.4);
    opacity: 0.9;
    transition: all 400ms ease-out;
}

.edit-banner > svg{
    position: absolute;
    z-index: 101;
    top: -14em;
    left: 1em;
}

.edit-banner:hover > svg{
    opacity: 1;
    transition: all 400ms ease-out;
}

@media screen and (max-width: 768px){
    .bio-block{
        left: 1rem;
        top: 37rem;
        width: 90%;
        font-size: 14pt;
        margin-top: 2em;
        padding: 1rem;
    }

    .perfil-nome{
        justify-content: center;
        display: flex;
        width: 40%;
        position: absolute;
        
    }
}

@media screen and (max-width: 400px){
    .perfil-nome{
        width: 75%;
    }
}

