* {
    margin: 0;
    padding: 0;
    /*tira a margem da pagina inteira*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input,
select,
iframe,
button {
    border: nome;
    font-family: 'Times New Roman';
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: antiquewhite;
}



/*--------------------------------------------------------*/


body {
    background-color: #1e1e1e;
}

.pipoco {
    color: rgb(255, 255, 251);
    font-size: x-large;

}

.header {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.buton {
    color: rgb(255, 255, 251);
    padding: 1em;
}

.logo {
    font-stretch: 115%;

    font-variation-settings: 'wdth' 115;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;

}

.perfil {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

.MenuInicial {

    align-items: center;
    justify-content: center;
    font-size: x-large;
    display: flex;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin-bottom: 1em;
}

#container_p {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    display: flex;

}

#list {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#search{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput {
    padding: 10px;
    width: 60%;
    text-align: center;

    background-color: transparent;
    color: #FFF;
    border: none;
    border-bottom: 2px solid #FFF;
    outline: none;

    font-family: Fira Code;
    font-size: 1rem;

    transition: 0.4s ease-out;
}

#searchInput:focus {
    border-bottom: 2px solid #E06031;
}

.card {
    width: 200px;
    height: 300px;

    padding: 10px;
    
    cursor: pointer;

    transition: 0.4s ease-out;
}

.card:hover {
    scale: 1.1;
}

.filme .data-image img {
    width: 200px;
    height: 300px;
}
